<div class="dropdown" appDropdown>
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
    aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
  <!--<ul class="list-group">-->
    <li class="list-group-item" *ngFor="let item of items"><a href="#">{{item}}</a></li>
    <!--<li><a href="#">Another action</a></li>-->
    <!--<li><a href="#">Something else here</a></li>-->
    <!--<li role="separator" class="divider"></li>-->
    <!--<li><a href="#">Separated link</a></li>-->
  </ul>
</div>
<br><br><br>
